body {
	background: #1e1a1c;
	color: #f9f9fc;
	font-family: sans-serif;
	margin: 0;
	overflow: hidden;
}

canvas {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAAF0lEQVR4AWN4DQcP4WBoCyKYCOkhLQgA355ncNg2H2MAAAAASUVORK5CYII=');
	height: 100%;
  width: 100%;
  margin: 0;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

button {
	background: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.2);
	border: none;
	font-family: inherit;
	font-size: 1em;
	padding: 0.5em;
	margin: 0;
	user-select: none;
	outline: none;
}
button:hover {
	background: rgba(0,0,0,0.8);
	color: rgba(255,255,255,0.8);
}
button:active {
	background: rgba(0,0,0,0.1);
	color: rgba(255,255,255,0.1);
}

hr {
	border: 2px solid #fff;
}

#controls {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1em;
}
