body {
	background: #eee;
	color: #111;
	margin: 0;
}

canvas {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAAF0lEQVR4AWN4DQcP4WBoCyKYCOkhLQgA355ncNg2H2MAAAAASUVORK5CYII=');
}

#controls {
	position: absolute;
	bottom: 0;
}
