body {
	background: #fff;
	color: #222;
	font-family: monospace;
	margin: 0;
	overflow: hidden;
}

#output {
	font-size: 1.2em;
	line-height: 2;
}

canvas {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAAAAACo4kLRAAAAF0lEQVR4AWN4DQcP4WBoCyKYCOkhLQgA355ncNg2H2MAAAAASUVORK5CYII=');
	height: 100%;
  width: 100%;
  margin: 0;
}

button {
	background: rgba(0,0,0,0.2);
	color: rgba(255,255,255,0.8);
	border: none;
	font-family: inherit;
	font-size: 1em;
	padding: 0.5em;
	margin: 0;
	user-select: none;
	outline: none;
}
button:hover {
	background: rgba(0,0,0,0.8);
}
button:active {
	background: rgba(0,0,0,0.5);
}

#controls {
	position: fixed;
	top: 0;
	right: 0;
	padding: 0.5em;
}
