body {
  background
}

#fg, #bg {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'dawgverse';
  font-size: 32px;
  padding: 48px 16px 0;
  user-select: none;
  -webkit-font-smoothing: none;
}

#bg {
  background: white;
  color: rgba(0,0,0,0.3);
  z-index: -2;
  border-bottom: 16px solid;
}

#fg {
  z-index: -1;
}
